name: Gitleaks Security Scan

on:
  push:
    branches: ["main", "master", "develop"]
  pull_request:
    branches: ["main", "master", "develop"]
  schedule:
    - cron: "0 2 * * 0"

jobs:
  gitleaks:
    uses: kientrant1/central-ops/.github/workflows/gitleaks.yml@main
    secrets: inherit
